<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="AI-generated recommendations with estimated impact" [options]="false"
            blockClass="table-border-style" [hidHeader]="true">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="table-info">
                            <th style="width: 65px;">#</th>
                            <th>Recommendation</th>
                            <th>Estimated Emmission Reduction</th>
                            <th>Estimated Cost Savings</th>
                            <th>Implementation Time Frame</th>
                            <th>Priority Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of csvData | slice:((pageNo*pageSize)-pageSize):(pageNo*pageSize)"
                        [ngClass]="{
                            'table-danger': row['Priority_Level'] === 'High',
                            'table-warning': row['Priority_Level'] === 'Medium',
                            '': row['Priority_Level'] === 'Low'
                          }">
                            <td *ngFor="let header of headers">{{ row[header] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled" *ngIf="pageNo==1"><a class="page-link" href="javascript:"
                            tabindex="-1" (click)="previousPage()">Previous</a></li>
                    <li class="page-item" *ngIf="pageNo>1"><a class="page-link" href="javascript:" tabindex="-1"
                            (click)="previousPage()">Previous</a></li>

                    <li class="page-item"><a class="page-link" href="javascript:" (click)="gotoPage(1)">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:" (click)="gotoPage(2)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:" (click)="gotoPage(3)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:" (click)="gotoPage(4)">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:" (click)="gotoPage(5)">5</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:" (click)="gotoPage(6)">6</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:" (click)="gotoPage(7)">7</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:" (click)="gotoPage(8)">8</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:" (click)="gotoPage(9)">9</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:" (click)="gotoPage(10)">10</a></li>
                    <li class="page-item disabled" *ngIf="pageNo>=10">
                        <a class="page-link" href="javascript:" (click)="nextPage()">Next</a>
                    </li>
                    <li class="page-item" *ngIf="pageNo<10">
                        <a class="page-link" href="javascript:" (click)="nextPage()">Next</a>
                    </li>
                </ul>
            </nav>
        </app-card>
    </div>

    <div class="col-xl-12">
        <app-card cardTitle="Co Pilot Chat" [options]="false" blockClass="table-border-style">
            <div class="row">
                <app-card cardTitle="" [hidHeader]="true" blockClass="table-border-style" *ngIf="messages.length!=0">
                    <div class="message" *ngFor="let message of messages" style="margin-bottom: 10px;">
                        <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Generic placeholder image"
                            style="height: 35px; margin-right: 10px;" *ngIf="message.user=='Me'" />
                        <img class="img-radius" src="assets/images/user/OIG2.jpg" alt="Generic placeholder image"
                            style="height: 35px; margin-right: 10px;" *ngIf="message.user=='AI'" />
                        <span class="user" style="font-weight: bold;">{{ message.user }} : </span>
                        <span class="content">{{ message.content }}</span>
                    </div>

                    <img class="img-radius" *ngIf="isChatLoading==true" src="assets/images/progress.gif"
                        style="height: 60px;" />

                </app-card>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <form action="javascript:">
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                [(ngModel)]="newMessage" [ngModelOptions]="{standalone: true}"
                                placeholder="Type a message..." (keyup.enter)="sendMessage()"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form action="javascript:">
                        <div class="form-group">
                            <button (click)="sendMessage()" class="btn btn-primary">Ask</button>
                        </div>
                    </form>
                </div>
            </div>
        </app-card>
    </div>
</div>